.main-container {
    margin-top: 65px;
}

.avatar-sm {
    width: 40px;
    height: 40px;
}

.avatar-md {
    width: 84px;
    height: 84px;
}

.rating-input {
    width: 80px !important;
    margin: auto;
}