.main-container {
    margin-top: 65px;
}

.avatar-sm {
    width: 40px;
    height: 40px;
}

.avatar-md {
    width: 84px;
    height: 84px;
}

.avatar-lg {
    width: 150px;
    height: 150px;
}

.rating-input {
    width: 35px !important;
}