<div class="input-group input-group-sm mt-2" id="{{ prefix }}{{ pk }}">
    <span class="input-group-btn">
        <button class="btn btn-outline-danger rating-like" type="button"
                onclick="putLike('{% url action pk %}', 0, '{{ prefix }}{{ pk }}');">-</button>
    </span>
    <input type="text" class="form-control rating-input text-center
                    {% if rating >= 0 %}text-success{% else %}text-danger{% endif %}"
           value="{{ rating }}" disabled>
    <span class="input-group-btn">
        <button class="btn btn-outline-success rating-dislike" type="button"
                onclick="putLike('{% url action pk %}', 1, '{{ prefix }}{{ pk }}');">+</button>
    </span>
</div>
