{% extends "questions/base.html" %}
{% load staticfiles %}
{% block title %}
    Задать вопрос
{% endblock %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

    <form>
        <div class="form-group">
            <label>Заголовок вопроса</label>
            <input type="text" class="form-control" maxlength="100" placeholder="Введите заголовок вопроса">
            <small class="form-text text-muted">Вопрос должен быть меньше 100 символов, и оканчиваться знаком вопроса "?"</small>
        </div>
        <div class="form-group">
            <label>Текст вопроса</label>
            <textarea class="form-control" rows="4"></textarea>
            <small class="form-text text-muted">Здесь можно указать описание Вашего вопроса</small>
        </div>
        <div class="form-group">
            <label>Теги к вопросу</label>
            <input type="text" class="form-control" placeholder="Теги к вопросу" maxlength="50">
            <small class="form-text text-muted">Вы можете к вопросу добавить до трёх тегов. Вводить через запятую ","</small>
        </div>
        <button type="submit" class="btn btn-primary">Задать вопрос</button>
    </form>
{% endblock %}