{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Ask Kiryanenko{% endblock %} - Ask Kiryanenko</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'questions/style.css' %}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/"><img src="{% static 'questions/images/logo.png' %}"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <form class="form-inline mr-sm-4 w-100">
            <input class="form-control w-100" type="text" placeholder="Поиск">
        </form>
        <a href="{% url 'ask' %}">
            <button class="btn btn-outline-success mr-sm-4 my-2 my-lg-0">Задать вопрос</button>
        </a>

        <div class="navbar-nav my-2 my-lg-0">
            <div class="nav-item dropdown btn-group">
                {% if user.is_authenticated %}
                    <a href="#" class="mr-2"><img src="{{ user.profile.avatar.url }}" class="avatar-sm"></a>
                    <a class="nav-link active" href="#">{{ user.username }}</a>
                    <a class="nav-link dropdown-toggle dropdown-toggle-split" id="accaunt" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true"><span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accaunt">
                        <a class="dropdown-item" href="{% url 'settings' %}?continue={{ request.path }}">Настройки</a>
                        <a class="dropdown-item" href="{% url 'logout' %}?continue={{ request.path }}">Выйти</a>
                    </div>
                {% else %}
                    <div class="btn-group">
                        <a href="{% url 'login' %}?continue={{ request.path }}" type="button" class="btn btn-info">Войти</a>
                        <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'signup' %}?continue={{ request.path }}">Регистрация</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container main-container">

    <div class="row">

        <div class="col-md-9">
            <h1>{% block header %}{% endblock %}</h1><hr>
            {% block content %}{% endblock %}
        </div><!--/span-->

        <div class="col-md-3">
            <div class="card text-center mb-3">
                <div class="card-block">
                    <h4 class="card-title">Популярные теги</h4>
                    <p class="card-text">
                        <a class="btn btn-link" href="#">quick</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                        <a class="btn btn-link" href="#">link</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                        <a class="btn btn-link" href="#">link</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                        <a class="btn btn-link" href="#">quick</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                        <a class="btn btn-link" href="#">link</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                        <a class="btn btn-link" href="#">link</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Card</a>
                        <a class="btn btn-link" href="#">Популярные</a>
                    </p>
                </div>
            </div>
            <div class="card text-center mb-3">
                <div class="card-block">
                    <h4 class="card-title">Популярные пользователи</h4>
                    <p class="card-text ">
                    <ol class="text-left">
                        <li><a class="btn btn-link" href="#">quick</a></li>
                        <li><a class="btn btn-link" href="#">пользовател</a></li>
                        <li><a class="btn btn-link" href="#">quick</a></li>
                        <li><a class="btn btn-link" href="#">link</a></li>
                        <li><a class="btn btn-link" href="#">quick</a></li>
                        <li><a class="btn btn-link" href="#">пользовател</a></li>
                        <li><a class="btn btn-link" href="#">quick</a></li>
                        <li><a class="btn btn-link" href="#">Card</a></li>
                        <li><a class="btn btn-link" href="#">quick</a></li>
                        <li><a class="btn btn-link" href="#">link</a></li>
                    </ol>
                    </p>
                </div>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Кирьяненко Александр Владиславович 2017</p>
    </footer>

</div><!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
