{% extends "questions/base.html" %}
{% block title %}Форма авторизации{% endblock %}
{% block header %}Форма авторизации{% endblock %}
{% block content %}
    <form action="{% url 'login' %}?continue={{ continue_url }}" method="POST">
        {% include 'questions/includes/form.html' with is_columns=True %}
        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="{% url 'signup' %}?continue={{ continue_url }}" class="btn btn-link">Регистрация</a>
    </form>
{% endblock %}