{% extends "questions/base.html" %}
{% block title %}{{ question.title }}{% endblock %}
{% block header %}{{ question.title }}{% endblock %}
{% block content %}
    <table class="w-100"><tr>
        <td class="pr-2 text-center" style="width: 160px;">
            <img class="avatar-lg" src="{{ question.user.profile.avatar.url }}">
            {% include 'questions/includes/rating_form.html' with rating=question.rating action='question_like' pk=question.pk prefix='question_rating_' liked_users=question.liked_users disliked_users=question.disliked_users %}
        </td>
        <td>
            <p class="card-text">{{ question.text }}</p>
            <p>{% include 'questions/includes/tags_list.html' %}</p>
        </td>
    </tr></table>
    <hr>

    {% if answers|length > 0 %}
        {% for answer in answers %}
            <a name="answer_{{ answer.pk }}"></a>
            <div class="card my-2">
                <div class="card-block">
                    <table class="w-100"><tr>
                        <td class="pr-2 text-center" style="width: 100px;">
                            <a href="#"><img class="avatar-md" src="{{ answer.user.profile.avatar.url }}"></a>
                            {% include 'questions/includes/rating_form.html' with rating=answer.rating action='answer_like' pk=answer.pk prefix='answer_rating_' liked_users=answer.liked_users disliked_users=answer.disliked_users %}
                        </td>
                        <td class="pl-2">
                            <p class="card-text">{{ answer.text }}</p>
                            {% if question.correct_answer == answer or question.user == request.user and not question.correct_answer %}
                                <div class="form-group has-success">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               onclick=""
                                               {% if question.user != request.user or not question.correct_answer %}disabled{% endif %}
                                               {% if question.correct_answer == answer %}checked{% endif %}>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Верно!</span>
                                    </label>
                                </div>
                            {% endif %}
                        </td>
                    </tr></table>
                </div>
            </div>
        {% endfor %}
        {% include 'questions/includes/paginator.html' %}
        <hr>
    {% endif %}

    {% if request.user.is_authenticated %}
    <a name="answer-form"></a>
    <form action="{{ request.get_full_path }}#answer-form" method="POST">
        {% include 'questions/includes/form.html' %}
        <button type="submit" class="btn btn-primary">Ответить</button>
    </form>
    {% else %}
        <p>
            Чтобы ответить необходимо пройти
            <a href="{% url 'login' %}?continue={{ request.get_full_path }}">авторизацию</a>
        </p>
    {% endif %}
{% endblock %}